@page "/"

<h1>Hello, world!</h1>

<h3>About Me</h3>
<p class="AboutMe">I am Robert McNiven and I currently reside in South Florida as a student apart of the Software Engineering program at Florida Gulf Coast University. Although I have not chosen a particular profession, I do aspire to work for a tech company or even start my own one day. I am taking courses in college right now to become a software engineer. I do not have any engineering employment experience, however, the most notable project I worked on was creating a GUI application to access data from a company API. One other notable project would be a drone and camera software that was able to recognize different colors and shapes.</p>

<p class="AboutMe">I am interested in engineering because I like to create things and get into the “flow state” where I get lost in my work. I am particularly passionate about programming and computer science. Right now, I am interested in seeing how quantum computing is implemented into everyday life. Other things that interest me that do not mainly pertain to engineering include video games and sports like football, baseball, and golf.</p>

<p class="AboutMe">My short-term goals include: Becoming C++ certified, receiving my first job in the software engineering industry, and completing collage. My long-term goals include: Finding a career that keeps me interested, traveling to different countries, and staying in good health</p>


<!---Welcome to your new app.-->

<!---<SurveyPrompt Title="How is Blazor working for you?" />-->
