@page "/todo"

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
    <li>
        <input type="checkbox" @bind="todo.IsDone" />
        <input @bind="todo.Title" />
    </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem>todos = new();
    // Creatinga new ToDo list item
    private string newTodo;
    
    private void AddTodo()
    // adding item to the todo list
    {

        if (!string.IsNullOrWhiteSpace(newTodo))
            // Making sure the item added is not blank
            {
            todos.Add(new TodoItem { Title = newTodo });
            // Actually adds the item to the list
            newTodo = string.Empty;
            // Populates a blank statement in the entry field.
            }
        }
    }
